.p-hooks button {
    padding: 12px 12px;
    border-radius: 4px;
    background-color: purple;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}